<style>
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed');
html,body{font-family: 'Fira Sans Extra Condensed', sans-serif;}
.navbar-brand {font-weight:bold}.navbar-login p{color:#eee}.form-control{background:#3a3f44;color:#eee;}.form-control:disabled{background:#272b30;color:#eee;}
</style>