<? INC DocType.tmpl ?>
<? INC Options.tmpl ?>
<? ADDROW JSLoop HREF=https://code.jquery.com/jquery-3.2.1.slim.min.js ?>
<? ADDROW JSLoop HREF=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>ZNC - <? VAR Title DEFAULT="Web Frontend" ?></title>
		<link rel="shortcut icon" href="<? VAR URIPrefix TOP ?>/favicon.ico" type="image/x-icon" />
		<? LOOP CSSLoop ?>
		<?IF HREF?><link rel="stylesheet" type="text/css" href="<? VAR URIPrefix TOP ?><? VAR HREF ?>" /><?ENDIF?>
		<?ENDLOOP?>
		<? LOOP JSLoop ?>
		<?IF HREF?><script type="text/javascript" src="<? VAR URIPrefix TOP ?><? VAR HREF ?>"></script><?ENDIF?>
		<?ENDLOOP?>
		<? INC ExtraHeader.tmpl ?>
	</head>

	<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  
	  <? INC Banner.tmpl ?>
      
    </div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	  <!-- Menu -->
	<? INC Menu.tmpl ?>
	</ul>
	 <? INC InfoBar.tmpl ?>
  </div>
</div>
</div>
<div class="container" style="padding-top:35px;margin-top: 25px;">
	<? INC BreadCrumbs.tmpl ?>
			<? INC MessageBar.tmpl ?>
				<div id="content">
					<div id="subpage">
