					<ul class="breadcrumb">
						<li><a href="<? VAR URIPrefix TOP ?>/">ZNC</a></li>
						<? LOOP BreadCrumbs ?>
							<? IF URL ?>
								<li><a href="<? VAR URIPrefix TOP ?><? VAR URL ?>"><? VAR Text ?></a></li>
							<? ELSE ?>
								<li class="active"><? VAR Text ?></li>
							<? ENDIF ?>
						<? ENDLOOP ?>
					</ul>
