					</div>
				</div>
			</div>
			<div id="footerbar">
				<? INC FooterTag.tmpl ?>
			</div>
			<hr /><h5 class="text-center text-muted"><? VAR Tag ESC=ASCII ?>. ZNC <a href="https://github.com/eggoez/znc-boots">Boots</a> skins by <a href="https://goez.my.id">goez</a>.</h5><br />
		<? INC LowerBanner.tmpl ?>
	</body>
</html>
