						<? LOOP ErrorLoop ?>
						<div class="alert alert-danger"><? VAR Message ?></div>
						<? ENDLOOP ?>

						<? LOOP SuccessLoop ?>
						<div class="alert alert-success"><? VAR Message ?></div>
						<? ENDLOOP ?>
