						<? LOOP ErrorLoop ?>
						<div class="alert alert-danger" id="ndelik"><? VAR Message ?></div>
						<? ENDLOOP ?>

						<? LOOP SuccessLoop ?>
						<div class="alert alert-success" id="ndelik"><? VAR Message ?></div>
						<? ENDLOOP ?>
