<style>
.navbar-brand {font-weight:bold}.navbar-login p{color:#eee}.breadcrumb{margin-top: 10px;}.form-control{background:#303030;color:#eee;}.form-control:disabled{background:#5f5e5e;color:#eee;}
</style>